######################
# CX6 ignored files
######################

**/*.iml
**/*.ipr
**/*.iws
**/*.log
**/.classpath
**/.idea/
**/.project
**/.settings
**/target/
**/*.class
**/.DS_Store
data

######################
# DBS ignored files
######################
*~
.DS_Store
.idea
*.iml
target
overlays
node_modules


tomcat/base/bin/*.jar
tomcat/base/work
tomcat/base/logs
tomcat/base/lib
tomcat/base/webapps

!cx6/exports/*.zip
package.zip

######################
# XCode
######################

## Build generated
mobile/build/
mobile/DerivedData/

## Various settings
mobile/**/*.pbxuser
mobile/**/!default.pbxuser
mobile/**/*.mode1v3
mobile/**/!default.mode1v3
mobile/**/*.mode2v3
mobile/**/!default.mode2v3
mobile/**/*.perspectivev3
mobile/**/!default.perspectivev3
mobile/**/xcuserdata/
mobile/**/*.xcworkspacedata

## Other
mobile/**/*.moved-aside
mobile/**/*.xccheckout
mobile/**/*.xcscmblueprint

## Obj-C/Swift specific
mobile/**/*.hmap
mobile/**/*.ipa
mobile/**/*.dSYM.zip
mobile/**/*.dSYM

## Playgrounds
mobile/**/timeline.xctimeline
mobile/**/playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
mobile/**/.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

mobile/**/Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

mobile/**/fastlane/report.xml
mobile/**/fastlane/Preview.html
mobile/**/fastlane/screenshots/**/*.png
mobile/**/fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

mobile/**/iOSInjectionProject/
package-lock.json


